<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure/grids-responsive-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Biblioteca</h1>
            <p class="author-name">Alejandro Liáñez Frutos</p>
            <div class="nav">
                <ul class="nav-list">
                    {% for book in books %}
                    <li class="nav-item"><a href="{{ url_for('libro', isbn=book['isbn']) }}">{{ book['title'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
	
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- Content goes here -->
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>